<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Tech Blog</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a>
            <img src="https://t3.ftcdn.net/jpg/00/93/86/92/240_F_93869241_qL0X80KYozaYytwnoOSozyDQmcYGorxV.jpg" width="100px" height="100px">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Dashboard
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item" href="https://www.indeed.com/">
                  Jobs
                </a>
                <a class="navbar-item" href="tel:713-555-5555">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="mailto:Stumbled@email.com">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

      <!-- Conditionally render login or logout links -->
      <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
